// Place all the styles related to the apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
     box-shadow: 5px 5px 5px grey;
}

// Show apartment page styling(apartments/show.html.erb)

.apartment {
    display: flex;
    padding: 40px 25px 40px 25px;
    max-width: 900px;
    margin-top: 25px;
    box-shadow: 5px 5px 10px 5px grey;
}

.apartment-info {
    margin: 0px 0px 0px 20px;
}

.apartment-contact-info {
    margin: 40px auto;
    text-align: center;
}

.apartment-content {
    padding: 40px 40px 40px 40px;
    margin-top: 25px;
}

.apartment-contact-info p {
    display: inline;
    padding: 0px 20px 0px 20px;
}

div.apartment-contact-info p:nth-child(1),  .apartment-contact-info p:nth-child(2) {
    border-right: 1px solid grey;
}

#js-next-apartment {
    float: right;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2em;
}

#js-previous-apartment {
    float: left;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2em;
}

a.make-appointment-btn {
    display: inline-block;
    margin-top: 50px;
    background-color: #428bca;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

a.make-appointment-btn:hover {
    background-color: lightblue
}


input::placeholder{
    color: grey;
}

// All apartments page styling(apartments/index.html.erb)

.apartment-index-page {
    display: flex;
    padding: 40px 25px 40px 25px;
    margin: 25px auto;
    border-radius: 5px;

}

.apartment-index-page:hover {
    box-shadow: 5px 5px 10px 5px grey;
    transition: box-shadow 2s ease;
}

a.view-apartment-btn {
    display: inline-block;
    bottom: 0px;
    background-color: #428bca;
    padding: 5px 30px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}


a.view-apartment-btn:hover {
    background-color: lightblue;
}

.new-listing-btn {
    float: right;
}

.apartment-content {
    margin: auto;
    display: flex;
}
