/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "apartments";
 @import "appointments";
 @import "users";
 @import "sessions";


* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

 body {
  padding-top: 70px;
  padding-bottom: 30px;

}

.navbar, .navbar-default{
  // background-image: url('http://res.cloudinary.com/zacwillmington/image/upload/v1534992454/background_pattern_design_33_czdyhy.jpg');
}

.hidden {
    display: none;
}

.navbar-inverse {
    border-color: lightgrey;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.alert {
    margin: 0px 10px 0px 10px;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}

.center {
  text-align: center;
}


p {
  margin: 10px 20px 10px 20px;
}

.pic,
.info {
  padding: 20px;
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 7px;
  vertical-align: middle;
  margin: 10px;
  width: 800px;

}

.large-image {
    width: 500px;
    height: 300px;
}
.info {
  height: 290px;
  text-align: left;
}

.title {
    text-align: center;
}

.btn, .btn-primary {
    margin: 5px 10px 5px 10px;
}

.apartment-info.btn-primary {
    min-width: 100px;
}

.delete-btn {
    background-color: red;
    border-color: red;
}
  // Form styles


.custom-form {
    background-color: rgba(97, 91, 91, .2);
    border-radius: 5px;
    padding: 25px;
    max-width: 550px;
    margin: 25px auto;
}

.custom-form input[type=submit] {
    margin-top: 20px;
    font-size: 1.2em;
    width: 95%;

}

.custom-form label {
    font-size: 1.2em;

}

.custom-form input[type=text], .custom-form input[type=password], .custom-form input[type=number] {
    background: transparent;
    border-bottom: 1px dashed black;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    float: right;
    color: #1F95DF;
    width: 50%;

}

.custom-form input[type=text]:focus {
    border-bottom: 1px dashed #D9FFA9;
}
