// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// appointments list (appointments/index)

.appointment {
    display: flex;
    margin: 25px auto;
    width: 500px;
    box-shadow: 5px 5px 10px 5px grey;
}

.appointment-buttons-info {
    margin-left: 20px;
}

form#async-form input{
    width: 200px;
    margin-left: 10px;
}

.appointment-info p {
    font-size: 1em;
}

// past-appointments page

.alert-danger {
    max-width: 350px;
}

.past-appointment {
    display: flex;
    margin: 25px auto;

}

@media only screen and (min-width: 1000px) {

    .appointments, .all-past-appointments-page {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .past-appointment {
         width: 50%;
    }
}
