// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// appointments list (appointments/index)

.appointment {
    display: flex;
    margin: 25px auto;
    max-width: 500px;
}

.appointment-info {
    margin-left: 20px;
}

.appointment-buttons-info {
    margin-left: 20px;
}

.appointment img {
    width: 150px;
    height: 100px;
}

// past-appointments page

.past-appointment {
    display: flex;
    margin: 25px auto;
    width: auto;

}

@media only screen and (min-width: 1000px) {

    .appointments, .all-past-appointments-page {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .container {
        // min-width: 650px;
    }

    .appointment {
         // max-width: 500px;
         // margin: 25px 25px 25px 0;
    }
}

// @media only screen and (min-width: 1000px) {
//
// }
