// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date-today {
    float: right;
}

@media only screen and (min-width: 600px) {
    .all-appointments-profile-page {
        display: flex;
        flex-wrap: wrap;
    }

}
