<% if @appointment.errors %>
    <% @appointment.errors.full_messages.each do |message| %>
        <div class="alert alert-success">
            <strong><%= message %></strong>
        </div>
    <% end %>
<% end %>
